<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<p>Id:</p>
<p th:text="${post.getId()}">Value</p>
<p>Text:</p>
<p th:text="${post.getText()}">Value</p>
<p>DateCreate:</p>
<p th:text="${post.getDateCreate}">Value</p>
<p>Author:</p>
<p th:text="${post.getUser().getName()}">Value</p>

<div th:each="photoOne: ${photos}">
    <img th:src="@{/photos/{path}(path=${photoOne.getPhotoImagePath()})}" height="200px" alt="not photo"/>
</div>

<a th:href="@{/post/{id}/editPost(id=${post.getId()})}">Edit post</a>

<form th:method="DELETE" th:action="@{/post/{id}(id=${post.getId()})}">
    <input type="submit" value="Delete">
</form>


</body>
</html>