<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All posts:</h2>
<div th:each="post: ${posts}">
    <a th:href="@{/post/{id}(id=${post.getId()})}" th:text="${post.getName()}">post</a>
</div>
<hr>

<!--IF-->
<div th:if="${user.getEmail()}">
    <div>
        <div th:text=" 'Hi,' + ${user.getName()}">Hi, User</div>
        <a href="/post/createPost">Create new post</a>
        <p></p>
        <form th:action="@{/logout}" th:method="POST">
            <input type="hidden" name="_csrf" value="${_csrf.token}">
            <input type="submit" value="Выйти"/>
        </form>
    </div>
</div>
<!--ELSE-->
<div th:unless="${user.getEmail()}">
    <a href="/login">Войти</a>
</div>
<p></p>

<a href="/registration">Регистрация</a>

</body>
</html>