<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All posts:</h2>
<div th:each="post: ${posts}">
    <a th:href="@{/post/{id}(id=${post.getId()})}" th:text="${post.getName()}">post</a>
</div>
<hr>
<a href="/post/createPost">Create new post</a>

<br>
<a href="/login">Войти</a>
<br>
<a href="/register">Регистрация</a>
<br>
<form action="/logout" method="POST">
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>