<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<hr>
<h4>Авторизация</h4>
<form th:action="@{/login}" th:method="POST">
    Эл. почта: <input type="email" name="username"><br><br>
    Пароль: <input type="password" name="password"><br><br>
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Вход"/>
</form>

<br><br>
<a href="/registration">Зарегистрироваться</a>

<br><br>
<a href="/post">Home</a>

</body>
</html>