<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h2>Profile:</h2>
<p th:text="${user.getEmail()}">Value</p>
<p th:text="${user.getDateJoined()}">Value</p>

<div th:if="${currentUser}">
    <div th:if="${currentUser.getId()==user.getId()}">
        <a th:href="@{/profile/edit}">Edit my profile</a>
        <p></p>
        <a th:href="@{/profile/{id}/author(id=${currentUser.getId()})}">Show my authors</a>
        <p></p>
        <a th:href="@{/profile/{id}/follower(id=${currentUser.getId()})}">Show my followers</a>

        <a th:href="@{/profile/likedPosts}">Show my likedPosts</a>


    </div>
    <!-- кнопка follow-->
    <div th:if="${currentUser.getId()!=user.getId()}">
        <div th:if="${author}">
            <form th:method="POST" th:action="@{/follow/{id}(id=${user.getId()})}" th:object="${user}">
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <input type="submit" value="Unfollow by author"/>
            </form>
        </div>
        <div th:unless="${author}">
            <form th:method="POST" th:action="@{/follow/{id}(id=${user.getId()})}" th:object="${user}">
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <input type="submit" value="Follow by author"/>
            </form>
        </div>
    </div>
</div>


<div th:if="${user.getAvatar()}">
    <img th:src="@{/photos/{path}(path=${user.getAvatar().getAvatarPath()})}" height="200px" alt="not photo"
         src=""/>
</div>
<div th:unless="${user.getAvatar()}">
    <p>not photo</p>
</div>

<!--Все мои посты-->
<h2>All my posts:</h2>
<div th:each="post: ${posts}">
    <a th:href="@{/post/{id}(id=${post.getId()})}" th:text="${post.getName()}">post</a>
    <p>Likes:</p>
    <p th:text="${post.getLikes()}">likes</p>
    <p>Dislikes:</p>
    <p th:text="${post.getDislikes()}">dislikes</p>
    <p>****</p>

</div>
<hr>

<br><br>
<a href="/post">Home</a>
</body>
</html>